@import "tailwindcss";

/* To mapuje Twoje zmienne CSS na klasy Tailwinda w wersji 4 */
@theme {
  --color-border: hsl(var(--border));
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  --color-primary: hsl(var(--primary));
  --color-card: hsl(var(--card));
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
}

html, body, #__next__ {
  height: 100%;
}

@layer base {
  :root {
    --background: 30 20% 98%; 
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --primary: 14 100% 59%;
    --border: 220 13% 94%;
    --radius: 1rem;
    --shadow-color: 220 13% 91%;
    
    --chart-1: 221 83% 53%;
    --chart-2: 166 71% 40%;
    --chart-3: 38 96% 56%;
    --chart-4: 341 82% 60%;
    --chart-5: 288 71% 40%;
  }
}

@layer base {
  * {
    /* Teraz 'border-border' zadziała, bo zdefiniowaliśmy '--color-border' w @theme */
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  button {
    transition-property: box-shadow;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
  }
  button:hover {
    box-shadow: 0 10px 30px -10px hsl(var(--shadow-color) / 0.2), 0 4px 6px -4px hsl(var(--shadow-color) / 0.1);
  }
}
