@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #__next {
  height: 100%;
}

html {
  /* This enables auto-scaling of the entire UI based on viewport width */
  font-size: clamp(16px, 1.5vw, 18px);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 345 60% 98%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 338 90% 65%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 338 90% 95%;
    --accent-foreground: 338 90% 20%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 338 90% 65%;
    --radius: 0.5rem;
    --sidebar-background: 345 60% 98% / 0.8;
    --sidebar-foreground: 240 10% 3.9%;
    --sidebar-primary: 338 90% 65%;
    --sidebar-primary-foreground: 355.7 100% 97.3%;
    --sidebar-accent: 338 90% 92%;
    --sidebar-accent-foreground: 338 90% 15%;
    --sidebar-border: 240 5.9% 90%;
    --sidebar-ring: 338 90% 65%;
    --chart-1: 338 70% 50%;
    --chart-2: 348 80% 65%;
    --chart-3: 358 80% 55%;
    --chart-4: 8 75% 60%;
    --chart-5: 348 75% 55%;
  }

  .dark {
    --background: 345 60% 98%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 338 90% 65%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 338 90% 95%;
    --accent-foreground: 338 90% 20%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 338 90% 65%;
    --chart-1: 338 70% 50%;
    --chart-2: 348 80% 65%;
    --chart-3: 358 80% 55%;
    --chart-4: 8 75% 60%;
    --chart-5: 348 75% 55%;
    --sidebar-background: 345 60% 98% / 0.8;
    --sidebar-foreground: 240 10% 3.9%;
    --sidebar-primary: 338 90% 65%;
    --sidebar-primary-foreground: 355.7 100% 97.3%;
    --sidebar-accent: 338 90% 92%;
    --sidebar-accent-foreground: 338 90% 15%;
    --sidebar-border: 240 5.9% 90%;
    --sidebar-ring: 338 90% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
