@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 220 13% 18%;
    --foreground: 210 40% 98%;
    --card: 220 13% 11%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 330 80% 60%;
    --primary-foreground: 330 80% 10%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 330 80% 60%;
    --accent-foreground: 330 80% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 330 80% 60%;
    --radius: 0.5rem;
    --sidebar-background: 222.2 84% 4.9%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 330 80% 60%;
    --sidebar-primary-foreground: 330 80% 10%;
    --sidebar-accent: 217.2 32.6% 17.5%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 217.2 32.6% 17.5%;
    --sidebar-ring: 330 80% 60%;
    --chart-1: 330 70% 50%;
    --chart-2: 340 80% 65%;
    --chart-3: 350 80% 55%;
    --chart-4: 0 75% 60%;
    --chart-5: 340 75% 55%;
  }

  .dark {
    --background: 220 13% 18%;
    --foreground: 210 40% 98%;
    --card: 220 13% 11%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 330 80% 60%;
    --primary-foreground: 330 80% 10%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 330 80% 60%;
    --accent-foreground: 330 80% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 330 80% 60%;
    --chart-1: 330 70% 50%;
    --chart-2: 340 80% 65%;
    --chart-3: 350 80% 55%;
    --chart-4: 0 75% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 222.2 84% 4.9%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 330 80% 60%;
    --sidebar-primary-foreground: 330 80% 10%;
    --sidebar-accent: 217.2 32.6% 17.5%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 217.2 32.6% 17.5%;
    --sidebar-ring: 330 80% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
